.card-body{
    background: black; 
    color: white;
    border-radius: 5px;
    border-bottom-left-radius: 150px;
    border-top-left-radius: 150px;
    height: 160px;
}

p{
    color: white;
    margin: 0px;
    vertical-align: middle;
}


.sample{
    align-self: auto;
}

.highlight{
  font-size: 70px;
  font-weight: 900;
}